.card {
	background: $card-bg;
	transform: scale(0.5);
	animation: expand 0.3s forwards;
	margin-top: 2rem;
	height: 24.5rem;
   border-radius: 0.7rem;
   border: $card-border solid 2px;

	&__img {
		height: 100%;
		position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);

		&-container {
			position: relative;
			height: 60%;
         width: 90%;
         margin: 1rem auto 0 auto;
         border: $card-img-border 0.22rem solid;
         border-radius: 0.5rem;
         transition: all 0.2s ease-in-out;
         cursor: pointer;
         overflow: hidden;

         &:hover {
            border: $card-img-border-hover 0.22rem solid;
            background: $card-img-bg-hov;
         }
		}

      &--iframe {
         position: relative;
         width: 100%;
         height: 100%;
      }
	}

	&-title {
		font-size: 1.1rem;
	}

	&-subtitle {
		font-size: 0.95rem;
	}

	@keyframes expand {
		from {
			transform: scale(0.5);
		}
		to {
			transform: scale(1);
		}
	}

	&__link {
		height: 100%;
		width: 100%;
		display: flex;
		justify-content: center;
		align-items: center;
		text-decoration: none;

		&.disabled {
			pointer-events: none;
		}

		span {
			margin-left: 5px;
		}
	}

	&__btn-container {
		display: flex;
		align-items: center;
		justify-content: space-around;
	}
}
