.modal {
   &__wrapper {
      position: fixed;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      height: 100vh;
      width: 100vw;
      display: grid;
      place-items: center;
      z-index: 1;
      background: $modal-wrapper-bg;
      opacity: 20%;
      animation: 0.2s forwards;

      @keyframes modal_open {
         from  {opacity: 0%}
         to    {opacity: 100%}
      }

      @keyframes modal_close {
         from  {opacity: 100%}
         to    {opacity: 0%}
      }
   }

   &__form {
      background: $modal-form-bg;
      height: calc(25rem + 10%);
      width: 35rem;
      text-align: center;
      border-radius: 20px;
      border: solid $modal-form-border 3px;
      

      &-title {
         margin-top: 1rem;
         margin-bottom: 0.5rem;
         font-weight: 600;
      }

      &-input-container {
         display: flex;
         width: 100%;
         height: 75%;
         flex-direction: column;
         justify-content: space-around;
      }

      &-group {
         position: relative;
         width: 100%;
         display: grid;
         grid-template-columns: 2fr 4fr;
         align-items: center;
      }

      &-label {
         text-align: right;
         margin-right: 1.5rem;
         padding-left: 1rem;
         font-size: 1.1rem;
      }

      &-input {
         padding: 0.2rem;
      }

      &-input, &-select {
         width: $modal-item-width;
         height: $modal-item-height;
         border-radius: 0.35rem;
         border: solid $input-border 3px;
         outline: none;
         background: inherit;
         transition: all 0.1s ease-in-out;

         &:focus {
            border: solid $input-focus-border 3px;
            background: $input-focus-bg;
         }
      }

      &-btn {
         margin: 0.8rem 4rem 0 4rem;
         display: flex;
         justify-content: space-evenly;
      }
   }
}